
html,
body {height: 100%; padding: 0; overflow: hidden}
* {box-sizing: border-box}

.flex {
  width:100%; vertical-align:top;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-box;
  display:box;
  -webkit-box-orient:horizontal;
  -moz-box-orient:horizontal;
  -ms-box-orient:horizontal;
  box-orient:horizontal;
  -webkit-box-direction:row;
  -moz-box-direction:row;
  -ms-box-direction:row;
  box-direction:row
}
.flex.vertical{
  -webkit-box-orient:vertical;
  -moz-box-orient:vertical;
  -ms-box-orient:vertical;
  box-orient:vertical;
  -webkit-box-direction:column;
  -moz-box-direction:column;
  -ms-box-direction:column;
  box-direction:column
}
.flex .auto{
  -webkit-box-flex:1;
  -moz-box-flex:1;
  -ms-box-flex:1;
  box-flex:1;
  position:relative
}

.container {max-width: 940px}

.screen {position: absolute; top: 0; left: 100%; width: 100%; height: 100%; background-color: #fff;
  -webkit-transition: left 200ms ease-out;
}
  .screen header {background-color: #34495e}
  .screen header .btn-back {}
  .screen header .btn-next {}
  .screen header .title {display: block; color: #1abc9c; text-align: center}
.screen-body {padding: 0 20px;}

.screen.show {
  left: 0;
}

.splash-screen {display: block}
  .splash-screen > .container {height: 100%}
  .splash-screen .buttons-holder {
    position: absolute; bottom: 20px; width: 100%;
    padding: 0 20px;
  }
  .splash-screen .btn {text-align: left}
  .splash-screen .lbl {margin-left: 10px}

/*.register-screen {display: none}*/
.register-screen .screen-body {padding: 40px 60px 0}
  .register-screen label {position: relative}
    .register-screen label span {position: absolute; top: 11px; width: 40px; text-align: center; height: 100%; z-index: 1}
    .register-screen label input {padding: 20px 0 20px 30px}

/*.sign-in-screen {display: none}*/
.sign-in-screen .screen-body {padding: 40px 60px 0}
  .sign-in-screen label {position: relative}
    .sign-in-screen label span {position: absolute; top: 11px; width: 40px; text-align: center; height: 100%; z-index: 1}
    .sign-in-screen label input {padding: 20px 0 20px 30px}
