!!!
html
  head
    title= "Login"
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='/user.js')
    script(src='/socket.io/socket.io.js')
  body
    .controls
      .unsername
        | Name:
        input#name(style='width:350px;')
      br
      .unsername
        | Pass:
        input#pass(type="password", style='width:350px;')
      br
      input#send(type='hidden', value='regiter')
      input#login(type='button', value='login')
